.character-item {
  border: 1px solid aliceblue;
  width: 31%;
  margin-left: 1%;
  display: flex;
  align-content: center;
  margin-top: 1px;
  background-color: lightgray;
}

.character-card {
  margin: 50px auto;
  padding-right: 30px;
  max-width: 600px;
  display: flex;
  border: 1px solid lightgray;
}

.character-extra-info {
  margin: 10px auto;
}

.character-info {
  padding: 5px;
  border-right: 1px solid lightgray;
  min-width: 30%;
}

@media screen and (max-width: 650px) {
  .character-card {
    margin: 50px auto;
    padding-right: 0px;
    flex-direction: column;
    border: none;
  }
}
