body {
  font-size: 20px;
  font-family: Verdana;
}

.logo {
  margin: 20px;
}
.character-image {
  max-height: 350px;
}
.film-base {
  display: flex;
  min-width: 40%;
}

.characters-header {
  margin-left: 40%;
}
.characters-box {
  display: flex;
  flex-wrap: wrap;
}

.opening-crawl {
  border-top: 1px solid grey;
  padding-top: 15px;
  padding: 5px;
}

.container {
  margin: auto;
  padding-top: 30px;
  width: 80%;
}

.primary-info {
  min-width: 150px;
  max-width: 250px;
}

@media screen and (max-width: 850px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .center-in-mobile {
    align-self: center !important;
  }
  .responsive-flex {
    flex-direction: column !important;
  }
  .primary-info {
    margin-bottom: 20px;
  }
}
