.app {
  text-align: center;
  background-color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
.big-header {
  padding: 40px;
}
.film-base {
  display: flex;
  min-width: 40%;
}
.film-box {
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 20px 0px 20px;
}

.film-item {
  display: flex;
  text-align: left;
  width: 45%;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 0px 2px gray;
  border-radius: 2px;
  border: 1px solid lightgray;
}

.film-head {
  padding-left: 5px;
}
.characters-header {
  margin-left: 40%;
}
.characters-box {
  display: flex;
  flex-wrap: wrap;
}

.opening-crawl {
  border-top: 1px solid grey;
  padding-top: 15px;
  padding: 5px;
}

.image-holder {
  margin: 10px;
}

.search-bar {
  margin: auto;
  position: relative;
}

.search-input {
  width: 50%;
  height: 30px;
}
.search-list {
  width: 500px;
  margin: auto;
  max-height: 200px;
  overflow: hidden;
  position: absolute;
  left: 30%;
  background-color: rgba(184, 184, 184, 0.6);
  fill-opacity: 0.5;
}

.film-extra {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

@media screen and (max-width: 950px) {
  .film-box {
    width: 85%;
  }
}

@media screen and (max-width: 850px) {
  .film-item {
    display: block;
    width: 75%;
  }
  .film-box {
    width: 95%;
  }
}
